body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  line-height: 21px;
  font-weight: bold;
  font-size: 14px;
  color: black;
  text-transform: uppercase;

  background-color: white;
  background-image: url("img/bakground-catalog.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.header-nav{
  background-color: white;
}
.header-nav a {
  text-decoration: none;
  color: black;
}
section {
  background-color: white;
}
.price a{
  color: #81b3d2;
  font-size: 12px;
}
.type a{
  color: #e1e1e1;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-style: dotted; 
  text-decoration-color: #81b3d2;
}
.rating a{
  color: #e1e1e1;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-style: dotted; 
  text-decoration-color: #81b3d2;
}
.moreinfo{
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  text-align: center;
}
.moreinfo a{
  line-height: 27px;
  color: white;
}
.reserv {
  width: 142px;
  height: 27px;
  background-color: #766357;
  text-align: center;
}
.reserv a{
  line-height: 27px;
color: white;
}
footer {
  background-color: white;
/*  width: 1200px;
  height: 120px;*/
}


.twitter,
.facebook,
.youtube {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin: 3px;
  text-align: center;
  position: relative;
  line-height: 48px;
}


