body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  line-height: 21px;
  font-weight: bold;
  font-size: 14px;
  color: black;
  text-transform: uppercase;

  background-color: white;
  background-image: url("img/Shape1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.header-nav {
  background-color: white;
}

.header-nav a {
  text-decoration: none;
  color: black;
}

.motto div {
  background-color: white;
  background-size: 1200px 216px;
  text-align: center;
}

.container {
  text-align: center;
}

.block {
  color: white;
  background-color: #81b3d2;
}

.down {
  background-color: #eee;
}

.apointment {
  text-align: center;
}

.find {
  width: 568px;
  height: 86px;
  background-color: #766357;
  text-align: center;
}
.find a{
  color: white;
  line-height: 86px;
}

.appointment-item {
  background-size: 568px 395px;
}

.appointment-item input {
  background-color: #f2f2f2;
  width: 346px;
  height: 38px;
}

.appointment-item2 input {
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
}

.appointment-item2 button {
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
}

.appointment-item2 .submit {
  background-color: #81b3d2;
  color: white;
  width: 458px;
  height: 58px;
  text-align: top center;
}

footer {
  background-color: white;
  width: 1200px;
  height: 120px;
}


.twitter,
.facebook,
.youtube {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin: 3px;
  text-align: center;
  position: relative;
  line-height: 48px;
}


